<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Simple Bot UI</title>
    <link
      rel="icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSqPEQ5ffpoow8e7FChJdiP3-Qt24ULhIL_rhu0gocwMnQJWyqr&usqp=CAU"
      type="image/png"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://simple-bot-ui.glitch.me" />
    <meta property="og:title" content="Simple Bot UI" />
    <meta property="og:description" content="A Simple UI Bot" />
    <link
      rel="shortcut icon"
      type="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSqPEQ5ffpoow8e7FChJdiP3-Qt24ULhIL_rhu0gocwMnQJWyqr&usqp=CAU"
    />
    <meta
      property="og:image"
      content="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSqPEQ5ffpoow8e7FChJdiP3-Qt24ULhIL_rhu0gocwMnQJWyqr&usqp=CAU"
    />
    <meta name="theme-color" content="#ffff00" />
  </head>
  <body>
    <div class="botui-app-container" id="hello-world">
      <bot-ui></bot-ui>
    </div>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="script.js"></script>
  </body>
</html>
